@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700);

body {
  font-family: 'Playfair Display';
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background-image: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/ignasi_pattern_s.png);
}

img {
  /*-webkit-filter: hue-rotate(60deg);*/
  -webkit-transition: all 1s;
}
.logo {
  width: 100%;
  max-width: 125%;
}
.img-center {
	margin: 0 auto;
  border: 1px solid gold;
  /*filter: hue-rotate(60deg);*/
  transition: all 0.3s;
  /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
  /*background-color: #292484;
    background-image: -webkit-linear-gradient(135deg, #292484,#dc4225);
    background-image: -moz-linear-gradient(135deg, #292484,#dc4225);
    background-image: -o-linear-gradient(135deg, #292484,#dc4225);
    background-image: linear-gradient(135deg, #292484,#dc4225);
    opacity: 0.7;*/

}
.img-center:hover {
  /*-webkit-filter: blur(5px);*/
  filter: drop-shadow(5px 5px 20px black);
  -webkit-filter: drop-shadow(5px 5px 20px black);
  transition: all 0.3s;
  /*filter: blur(5px);*/
}
.img-center:visited {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

footer {
  margin: 50px 0;
  text-align: center;
}
h4:first-of-type:first-letter
    { float: left;
      color: black;
      font-size: 75px;
      padding-top: 4px;
      line-height: 50px;
      padding-right: 8px;
      padding-left: 3px;
      font-family: 'Playfair Display';
}
a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

a:active {
    text-decoration: none;
    color: inherit;
}
.res-name {
  color: #337ab7;
}
.page-header {
  text-align:center;
  padding-bottom:1em;
  font-weight:bold;
  border-bottom:2px solid black;
}
.blockquote {
  text-align:justified;
  padding-bottom:1em;
  border-bottom:2px solid black;
  line-height:1.5em;
}
.note {
  text-align:left;
  padding-bottom:1em;
}
.hero-text {
  text-align:center;
  border:2px solid black;
  padding: 1.25em;
}
