body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background-image: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/ignasi_pattern_s.png);
}

img {
  /*-webkit-filter: hue-rotate(60deg);*/
  -webkit-transition: all 1s;
}

.img-center {
	margin: 0 auto;
  border: 1px solid gold;
  filter: hue-rotate(60deg);
  transition: all 0.3s;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);


}
.img-center:hover {
  /*-webkit-filter: blur(5px);*/
  filter: drop-shadow(5px 5px 20px black);
  -webkit-filter: drop-shadow(5px 5px 20px black);
  transition: all 0.3s;
  /*filter: blur(5px);*/
}
.img-center:visited {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

footer {
  margin: 50px 0;
}
